/* -- Variables -- */

:root{
    --fuentePrincipal: 'Staatliches', cursive;

    --principal: #6499E7;
    --secundario: #8E9CD3;
    --oscuro: #050D2C;
    --blanco: #ffffff;
}

/* -- Globales -- */

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}