/* -- Variables -- */

:root{
    --fuentePrincipal: 'Staatliches', cursive;

    --principal: #6499E7;
    --secundario: #8E9CD3;
    --oscuro: #050D2C;
    --blanco: #ffffff;
}

/* -- Globales -- */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
}